@import '../../theme/variables.css';
@import '../../theme/styles.css';

.main-container {
  display: flex;
  justify-content: center;
}

.main-wrapper {
  background-color: transparent;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-info {
  background-color: black;
  position: relative;
  min-height: 320px;
  width: 100%;

  display: grid;
  grid-template-columns: auto 1fr;
}

.secondary-info {
  position: relative;
  padding: 16px;
  background-color: #fff;
  min-height: 350px;
}

.secondary-info::before {
  position: absolute;
  content: '';
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: -11px;
  height: 12px;
  left: 0;
  right: 0;
  z-index: 10;
}

.main-segment {
  position: relative;
  background-color: palegreen;
  height: 320px;
}

.actor-main-area {
  background-color: var(--ion-color-dark);
}

.main-info-area {
  position: absolute;
  background-color: white;
  padding: 8px 16px;
  top: 300px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.actor-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.actor-stat-item {
  padding: 0;
  margin: 0 0 24px 0;
  text-align: center;
}

.actor-stat-item p,
.actor-stat-item h6 {
  padding: 0;
  margin: 0;
}

.actor-stat-item p {
  font-size: 0.8rem;
  color: var(--ion-color-light);
}

.actor-stat-item h6 {
  margin-top: 8px;
  color: var(--ion-color-primary);
}

.actor-stat-item h6 {
  font-size: 0.8rem;
}

.biography-text {
  line-height: 1.5;
}

.actor-filmography-item p:first-child {
  color: var(--ion-color-secondary);
}

.actor-filmography-item p:last-child {
  font-size: 0.8rem;
}

.actor-filmography-item ion-thumbnail {
  width: 80px;
  height: 120px;
}

.actor-filmography-item ion-img {
  border-radius: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.actor-text-items {
  display: flex;
  flex-direction: column;
  border: none;
}

.actor-text-items p {
  padding: 0;
  margin: 0;
}

.gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
}

.gallery-item {
  cursor: pointer;
}

.fit-width {
  display: block;
  width: 100%;
  height: auto;
}

.fit-height {
  display: block;
  width: auto;
  height: 100%;
}

.modal .close-btn {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .close-btn:hover {
  background-color: white;
}

.modal .img-container {
  background-color: #111;
  width: 100%;
  height: 100%;
  overflow: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}
