.ios ion-segment {
  padding: 8px;
}

.ios ion-segment-button {
  --padding-top: 8px;
  --padding-bottom: 8px;
  --color-checked: var(--ion-color-dark);
}

.ios ion-item {
  padding: 10px;
}

.spinner-wrapper {
  height: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
