@import './variables.css';

ion-title {
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/* MARGINS */
.mh-sm {
  margin-left: var(--margin-sm);
  margin-right: var(--margin-sm);
}

.mh-md {
  margin-left: var(--margin-md);
  margin-right: var(--margin-md);
}

.mh-lg {
  margin-left: var(--margin-lg);
  margin-right: var(--margin-lg);
}

.mv-sm {
  margin-top: var(--margin-sm);
  margin-bottom: var(--margin-sm);
}

.mv-md {
  margin-top: var(--margin-md);
  margin-bottom: var(--margin-md);
}

.mv-lg {
  margin-top: var(--margin-lg);
  margin-bottom: var(--margin-lg);
}

.mr-sm {
  margin-right: var(--margin-sm);
}

.mr-md {
  margin-right: var(--margin-md);
}

.mr-lg {
  margin-right: var(--margin-lg);
}

.ml-sm {
  margin-left: var(--margin-sm);
}

.ml-md {
  margin-left: var(--margin-md);
}

.ml-lg {
  margin-left: var(--margin-lg);
}

/* ACTOR AND MOVIE THUMB CONTAINERS */
.thumb-container {
  position: relative;
  background-color: #222;
  margin: 0;
  padding: 0;
  width: 50vw;
  max-width: 300px;
  height: 100%;
  overflow: hidden;
}

.thumb {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* PICTURE CONTAINERS, for Actors and Movie Content */
/* see https://www.voorhoede.nl/en/blog/say-no-to-image-reflow/ */
.picture {
  position: relative;
  cursor: pointer;
  background-color: #d2d2d2;
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
}

.picture:before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  border-radius: 50%;
  border: 0.3rem solid rgba(88, 88, 88, 0.3);
  border-top-color: rgba(88, 88, 88);
  animation: 1.5s spin infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.picture-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: inherit;
}

.portrait-ratio {
  padding-bottom: 150%;
}
.landscape-ratio {
  padding-bottom: 56.28%;
}

/* CSS/SVG Star Ratings */
.rating {
  margin-top: 12px;
  height: (var(--ratingSize) / 5);
  position: relative;
  width: var(--ratingSize);
}

.rating:before {
  /* inactive */
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIGZpbGw9IiM3ZjhjOGQiID4gICAgPHBhdGggZD0iTSAyNSAyLjI3MzQzNzUgTCAxOC42MDkzNzUgMTguNDgwNDY5IEwgMC44MTA1NDY4OCAxOS40MTc5NjkgTCAxNC42NDg0MzggMzAuNDEyMTA5IEwgMTAuMDcwMzEyIDQ3LjIyMjY1NiBMIDI1IDM3Ljc3MTQ4NCBMIDM5LjkyOTY4OCA0Ny4yMjI2NTYgTCAzNS4zNTE1NjIgMzAuNDEyMTA5IEwgNDkuMTg5NDUzIDE5LjQxNzk2OSBMIDMxLjM5MDYyNSAxOC40ODA0NjkgTCAyNSAyLjI3MzQzNzUgeiI+PC9wYXRoPjwvc3ZnPg==');
  background-repeat: repeat-x;
  background-size: calc(var(--ratingSize) / 5);
  bottom: 0;
  content: '';
  display: block;
  height: calc(var(--ratingSize) / 5);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--ratingSize);
}
.rating > span {
  display: block;
  text-indent: -10000px;
  width: var(--ratingSize);
  height: calc(var(--ratingSize) / 5);
  position: absolute;
  overflow: hidden;
}
.rating > span:before {
  /* active */
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIGZpbGw9IiNmMWM0MGYiID4gICAgPHBhdGggZD0iTSAyNSAyLjI3MzQzNzUgTCAxOC42MDkzNzUgMTguNDgwNDY5IEwgMC44MTA1NDY4OCAxOS40MTc5NjkgTCAxNC42NDg0MzggMzAuNDEyMTA5IEwgMTAuMDcwMzEyIDQ3LjIyMjY1NiBMIDI1IDM3Ljc3MTQ4NCBMIDM5LjkyOTY4OCA0Ny4yMjI2NTYgTCAzNS4zNTE1NjIgMzAuNDEyMTA5IEwgNDkuMTg5NDUzIDE5LjQxNzk2OSBMIDMxLjM5MDYyNSAxOC40ODA0NjkgTCAyNSAyLjI3MzQzNzUgeiI+PC9wYXRoPjwvc3ZnPg==');
  background-repeat: repeat-x;
  background-size: calc(var(--ratingSize) / 5);
  bottom: 0;
  content: '';
  display: block;
  height: calc(var(--ratingSize) / 5);
  left: 0;
  position: absolute;
  right: 0;
  text-indent: 10000px;
  top: 0;
}
