/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

:root {
  /* MY VARS */
  --card-radius: 8px;
  --card-shadow: 0px -6px 10px rgba(255, 255, 255, 1),
    0px 4px 15px rgba(0, 0, 0, 0.15);
  /* --card-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.1),
    0px 2px 2px 0px rgba(0, 0, 0, 0.1),
    0px 1px 5px 0px rgba(0, 0, 0, 0.08); */
  --shadow-up: inset -4px -4px 8px rgba(0, 0, 0, 0.05),
    inset 4px 4px 8px rgba(255, 255, 255, 0.2);
  --shadow-down: inset -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset 4px 4px 8px rgba(0, 0, 0, 0.1);
  --ratingSize: 110px;

  --margin-sm: 0.6rem;
  --margin-md: 1rem;
  --margin-lg: 2rem;

  --padding-lg: 1rem 2rem;
  --padding-md: 2rem;
  --padding-sm: 1rem;

  /* IONIC STUFF */
  --ion-background-color: #f2f2f2;
  --ion-background-color-rgb: 242, 242, 242;

  --ion-text-color: #000000;
  --ion-text-color-rgb: 0, 0, 0;

  --ion-color-step-50: #e6e6e6;
  --ion-color-step-100: #dadada;
  --ion-color-step-150: #cecece;
  --ion-color-step-200: #c2c2c2;
  --ion-color-step-250: #b6b6b6;
  --ion-color-step-300: #a9a9a9;
  --ion-color-step-350: #9d9d9d;
  --ion-color-step-400: #919191;
  --ion-color-step-450: #858585;
  --ion-color-step-500: #797979;
  --ion-color-step-550: #6d6d6d;
  --ion-color-step-600: #616161;
  --ion-color-step-650: #555555;
  --ion-color-step-700: #494949;
  --ion-color-step-750: #3d3d3d;
  --ion-color-step-800: #303030;
  --ion-color-step-850: #242424;
  --ion-color-step-900: #181818;
  --ion-color-step-950: #0c0c0c;

  /** primary **/
  --ion-font-family: 'Montserrat', sans-serif;
  --ion-color-primary: #92d5e6;
  --ion-color-primary-rgb: 146, 213, 230;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #80bbca;
  --ion-color-primary-tint: #9dd9e9;

  /** secondary **/
  --ion-color-secondary: #9bc53d;
  --ion-color-secondary-rgb: 155, 197, 61;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #88ad36;
  --ion-color-secondary-tint: #a5cb50;

  /** tertiary **/
  --ion-color-tertiary: #ffc76b;
  --ion-color-tertiary-rgb: 232, 141, 103;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #ffc37e;
  --ion-color-tertiary-tint: #ffc197;

  /** success **/
  --ion-color-success: #9bc53d;
  --ion-color-success-rgb: 155, 197, 61;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #88ad36;
  --ion-color-success-tint: #a5cb50;

  /** warning **/
  --ion-color-warning: #fde74c;
  --ion-color-warning-rgb: 253, 231, 76;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #dfcb43;
  --ion-color-warning-tint: #fde95e;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #1e1e24;
  --ion-color-dark-rgb: 30, 30, 36;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1a1a20;
  --ion-color-dark-tint: #35353a;

  /** medium **/
  --ion-color-medium: #4f6d7a;
  --ion-color-medium-rgb: 79, 109, 122;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #46606b;
  --ion-color-medium-tint: #617c87;

  /** light **/
  --ion-color-light: #c0d6df;
  --ion-color-light-rgb: 192, 214, 223;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #a9bcc4;
  --ion-color-light-tint: #c6dae2;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    /** primary **/
    --ion-font-family: 'Montserrat', sans-serif;
    --ion-color-primary: #92d5e6;
    --ion-color-primary-rgb: 146, 213, 230;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #80bbca;
    --ion-color-primary-tint: #9dd9e9;

    /** secondary **/
    --ion-color-secondary: #9bc53d;
    --ion-color-secondary-rgb: 155, 197, 61;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #88ad36;
    --ion-color-secondary-tint: #a5cb50;

    /** tertiary **/
    --ion-color-tertiary: #e88d67;
    --ion-color-tertiary-rgb: 232, 141, 103;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #cc7c5b;
    --ion-color-tertiary-tint: #ea9876;

    /** success **/
    --ion-color-success: #9bc53d;
    --ion-color-success-rgb: 155, 197, 61;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #88ad36;
    --ion-color-success-tint: #a5cb50;

    /** warning **/
    --ion-color-warning: #fde74c;
    --ion-color-warning-rgb: 253, 231, 76;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #dfcb43;
    --ion-color-warning-tint: #fde95e;

    /** danger **/
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}
