/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

:root {
  /* MY VARS */
  --ratingSize: 110px;
  --card-radius: 8px;

  --card-shadow: 0px -6px 10px rgba(235, 235, 235, 0.35),
    0px 4px 15px rgba(0, 0, 0, 0.15);
  --shadow-up: inset -4px -4px 8px rgba(0, 0, 0, 0.05),
    inset 4px 4px 8px rgba(255, 255, 255, 0.2);
  --shadow-down: inset -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset 4px 4px 8px rgba(0, 0, 0, 0.1);

  --margin-sm: 0.6rem;
  --margin-md: 1rem;
  --margin-lg: 2rem;

  --padding-lg: 1rem 2rem;
  --padding-md: 2rem;
  --padding-sm: 1rem;

  /* IONIC STUFF */
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255, 255, 255;

  --ion-text-color: #000000;
  --ion-text-color-rgb: 0, 0, 0;

  --ion-color-step-50: #f2f2f2;
  --ion-color-step-100: #e6e6e6;
  --ion-color-step-150: #d9d9d9;
  --ion-color-step-200: #cccccc;
  --ion-color-step-250: #bfbfbf;
  --ion-color-step-300: #b3b3b3;
  --ion-color-step-350: #a6a6a6;
  --ion-color-step-400: #999999;
  --ion-color-step-450: #8c8c8c;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #737373;
  --ion-color-step-600: #666666;
  --ion-color-step-650: #595959;
  --ion-color-step-700: #4d4d4d;
  --ion-color-step-750: #404040;
  --ion-color-step-800: #333333;
  --ion-color-step-850: #262626;
  --ion-color-step-900: #191919;
  --ion-color-step-950: #0d0d0d;

  /** primary **/
  --ion-font-family: 'Montserrat', sans-serif;
  --ion-color-primary: #92d5e6;
  --ion-color-primary-rgb: 146, 213, 230;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #80bbca;
  --ion-color-primary-tint: #9dd9e9;

  /** secondary **/
  --ion-color-secondary: #9bc53d;
  --ion-color-secondary-rgb: 155, 197, 61;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #88ad36;
  --ion-color-secondary-tint: #a5cb50;

  /** tertiary **/
  --ion-color-tertiary: #ffc76b;
  --ion-color-tertiary-rgb: 232, 141, 103;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #ffc37e;
  --ion-color-tertiary-tint: #ffc197;

  /** success **/
  --ion-color-success: #9bc53d;
  --ion-color-success-rgb: 155, 197, 61;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #88ad36;
  --ion-color-success-tint: #a5cb50;

  /** warning **/
  --ion-color-warning: #fde74c;
  --ion-color-warning-rgb: 253, 231, 76;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #dfcb43;
  --ion-color-warning-tint: #fde95e;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #1e1e24;
  --ion-color-dark-rgb: 30, 30, 36;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1a1a20;
  --ion-color-dark-tint: #35353a;

  /** medium **/
  --ion-color-medium: #4f6d7a;
  --ion-color-medium-rgb: 79, 109, 122;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #46606b;
  --ion-color-medium-tint: #617c87;

  /** light **/
  --ion-color-light: #c0d6df;
  --ion-color-light-rgb: 192, 214, 223;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #a9bcc4;
  --ion-color-light-tint: #c6dae2;
}

.dark-theme {
  --card-shadow: 0px -6px 10px rgba(5, 14, 19, 0.75),
    0px 4px 15px rgba(71, 84, 97, 0.55) !important;
  --shadow-up: inset -4px -4px 8px rgba(255, 255, 255, 0.05),
    inset 4px 4px 8px rgba(0, 0, 0, 0.2) !important;
  --shadow-down: inset -2px -2px 4px rgba(0, 0, 0, 0.5),
    inset 4px 4px 8px rgba(255, 255, 255, 0.1) !important;

  --ion-background-color: #081c21 !important;
  --ion-background-color-rgb: 8, 28, 33 !important;

  --ion-text-color: #eff9fb !important;
  --ion-text-color-rgb: 239, 249, 251 !important;

  --ion-color-step-50: #14272c !important;
  --ion-color-step-100: #1f3237 !important;
  --ion-color-step-150: #2b3d42 !important;
  --ion-color-step-200: #36484d !important;
  --ion-color-step-250: #425358 !important;
  --ion-color-step-300: #4d5e62 !important;
  --ion-color-step-350: #59696d !important;
  --ion-color-step-400: #647478 !important;
  --ion-color-step-450: #707f83 !important;
  --ion-color-step-500: #7c8b8e !important;
  --ion-color-step-550: #879699 !important;
  --ion-color-step-600: #93a1a4 !important;
  --ion-color-step-650: #9eacaf !important;
  --ion-color-step-700: #aab7ba !important;
  --ion-color-step-750: #b5c2c5 !important;
  --ion-color-step-800: #c1cdcf !important;
  --ion-color-step-850: #ccd8da !important;
  --ion-color-step-900: #d8e3e5 !important;
  --ion-color-step-950: #e3eef0 !important;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --card-shadow: 0px -6px 10px rgba(5, 14, 19, 1),
      0px 4px 15px rgba(181, 194, 197, 0.15) !important;
    --shadow-up: inset -4px -4px 8px rgba(255, 255, 255, 0.05),
      inset 4px 4px 8px rgba(0, 0, 0, 0.2) !important;
    --shadow-down: inset -2px -2px 4px rgba(0, 0, 0, 0.5),
      inset 4px 4px 8px rgba(255, 255, 255, 0.1) !important;

    /** primary **/
    --ion-font-family: 'Montserrat', sans-serif;
    --ion-color-primary: #92d5e6;
    --ion-color-primary-rgb: 146, 213, 230;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #80bbca;
    --ion-color-primary-tint: #9dd9e9;

    /** secondary **/
    --ion-color-secondary: #9bc53d;
    --ion-color-secondary-rgb: 155, 197, 61;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #88ad36;
    --ion-color-secondary-tint: #a5cb50;

    /** tertiary **/
    --ion-color-tertiary: #e88d67;
    --ion-color-tertiary-rgb: 232, 141, 103;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #cc7c5b;
    --ion-color-tertiary-tint: #ea9876;

    /** success **/
    --ion-color-success: #9bc53d;
    --ion-color-success-rgb: 155, 197, 61;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #88ad36;
    --ion-color-success-tint: #a5cb50;

    /** warning **/
    --ion-color-warning: #fde74c;
    --ion-color-warning-rgb: 253, 231, 76;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #dfcb43;
    --ion-color-warning-tint: #fde95e;

    /** danger **/
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --card-shadow: 0px -6px 10px rgba(5, 14, 19, 1),
      0px 4px 15px rgba(181, 194, 197, 0.15) !important;
    --shadow-up: inset -4px -4px 8px rgba(255, 255, 255, 0.05),
      inset 4px 4px 8px rgba(0, 0, 0, 0.2) !important;
    --shadow-down: inset -2px -2px 4px rgba(0, 0, 0, 0.5),
      inset 4px 4px 8px rgba(255, 255, 255, 0.1) !important;

    --ion-background-color: #081c21;
    --ion-background-color-rgb: 8, 28, 33;

    --ion-text-color: #eff9fb;
    --ion-text-color-rgb: 239, 249, 251;

    --ion-color-step-50: #14272c;
    --ion-color-step-100: #1f3237;
    --ion-color-step-150: #2b3d42;
    --ion-color-step-200: #36484d;
    --ion-color-step-250: #425358;
    --ion-color-step-300: #4d5e62;
    --ion-color-step-350: #59696d;
    --ion-color-step-400: #647478;
    --ion-color-step-450: #707f83;
    --ion-color-step-500: #7c8b8e;
    --ion-color-step-550: #879699;
    --ion-color-step-600: #93a1a4;
    --ion-color-step-650: #9eacaf;
    --ion-color-step-700: #aab7ba;
    --ion-color-step-750: #b5c2c5;
    --ion-color-step-800: #c1cdcf;
    --ion-color-step-850: #ccd8da;
    --ion-color-step-900: #d8e3e5;
    --ion-color-step-950: #e3eef0;

    --ion-toolbar-background: #14272c;

    --ion-item-background: #1f3237;

    --ion-card-background: #1f3237;
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #081c21;
    --ion-background-color-rgb: 8, 28, 33;

    --ion-text-color: #eff9fb;
    --ion-text-color-rgb: 239, 249, 251;

    --ion-border-color: #222222;

    --ion-color-step-50: #14272c;
    --ion-color-step-100: #1f3237;
    --ion-color-step-150: #2b3d42;
    --ion-color-step-200: #36484d;
    --ion-color-step-250: #425358;
    --ion-color-step-300: #4d5e62;
    --ion-color-step-350: #59696d;
    --ion-color-step-400: #647478;
    --ion-color-step-450: #707f83;
    --ion-color-step-500: #7c8b8e;
    --ion-color-step-550: #879699;
    --ion-color-step-600: #93a1a4;
    --ion-color-step-650: #9eacaf;
    --ion-color-step-700: #aab7ba;
    --ion-color-step-750: #b5c2c5;
    --ion-color-step-800: #c1cdcf;
    --ion-color-step-850: #ccd8da;
    --ion-color-step-900: #d8e3e5;
    --ion-color-step-950: #e3eef0;

    --ion-item-background: #14272c;

    --ion-toolbar-background: #14272c;

    --ion-tab-bar-background: #14272c;

    --ion-card-background: #14272c;
  }
}
