@import '../../theme/variables.css';
@import '../../theme/styles.css';

.main-container {
  display: flex;
  justify-content: center;
}

.main-wrapper {
  background-color: transparent;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-info {
  background-color: black;
  position: relative;
  min-height: 320px;
  width: 100%;

  display: grid;
  grid-template-columns: auto 1fr;
}

.secondary-info {
  position: relative;
  padding: 16px;
  background-color: #fff;
}

.secondary-info::before {
  position: absolute;
  content: '';
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: -11px;
  height: 12px;
  left: 0;
  right: 0;
  z-index: 10;
}

.thumb-container {
  margin: 0;
  padding: 0;
  width: 50vw;
  max-width: 300px;
  height: 100%;
  overflow: hidden;
}

.thumb {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-stats {
  width: 100%;
  padding: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rating-centered {
  margin: 0 auto !important;
  margin-bottom: 16px !important;
}

.movie-stat-item {
  padding: 0;
  margin: 0 0 24px 0;
  text-align: center;
}

.movie-stat-title,
.movie-stat-value {
  padding: 0;
  margin: 0;
}

.movie-stat-title {
  font-size: 0.8rem;
  color: var(--ion-color-light);
}

.movie-stat-value {
  font-size: 0.8rem;
  margin-top: 8px;
  color: var(--ion-color-primary);
}

.crew-item {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 2fr 40px 2fr;
}

.crew-item p {
  margin: 12px 2px;
}

.crew-item p:first-child {
  margin-top: 18px;
  color: var(--ion-color-primary);
}

.crew-item p:last-child {
  justify-self: end;
  text-align: right;
}

/* see https://www.voorhoede.nl/en/blog/say-no-to-image-reflow/ */
.picture {
  position: relative;
  cursor: pointer;
  background-color: #d2d2d2;
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
}

.picture:before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  border-radius: 50%;
  border: 0.3rem solid rgba(88, 88, 88, 0.3);
  border-top-color: rgba(88, 88, 88);
  animation: 1.5s spin infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.picture-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: inherit;
}

.moviePoster-ratio {
  padding-bottom: 150%;
}
.movieImg-ratio {
  padding-bottom: 56.28%;
}

.modal .close-btn {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .close-btn:hover {
  background-color: white;
}

.modal .img-container {
  background-color: #111;
  width: 100%;
  height: 100%;
  overflow: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.fit-width {
  display: block;
  width: 100%;
  height: auto;
}

.fit-height {
  display: block;
  width: auto;
  height: 100%;
}

.actorlist-container {
  display: flex;
  justify-content: center;
}
