@import '../../theme/variables.css';
@import '../../theme/styles.css';

.main-segment {
  position: relative;
  background-color: black;
}

.main-segment.thumb-container {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-segment.thumb-container.thumb {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-stat-item {
  padding: 0;
  margin: 0 0 24px 0;
  text-align: center;
}

.movie-stat-title,
.movie-stat-value {
  padding: 0;
  margin: 0;
}

.movie-stat-title {
  font-size: 0.8rem;
  color: var(--ion-color-light);
}

.movie-stat-value {
  font-size: 0.8rem;
  margin-top: 8px;
  color: var(--ion-color-primary);
}

.crew-item {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 2fr 40px 2fr;
}

.crew-item p {
  margin: 12px 2px;
}

.crew-item p:first-child {
  margin-top: 18px;
  color: var(--ion-color-primary);
}

.crew-item p:last-child {
  justify-self: end;
  text-align: right;
}
