@import '../../theme/variables.css';
@import '../../theme/styles.css';

.wrapper {
  background-color: black;
}

.main-info {
  position: relative;
  /* background-color: black; */
  height: 50vh;
  min-height: 200px;

  display: grid;
  grid-template-columns: auto 1fr;
}

.secondary-info {
  padding: 16px;
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.thumb-container {
  margin: 0;
  padding: 0;
  width: 50vw;
  max-width: 300px;
  height: 100%;
  overflow: hidden;
}

.thumb {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-stats {
  width: 100%;
  padding: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rating-centered {
  margin: 0 auto !important;
  margin-bottom: 16px !important;
}

.movie-stat-item {
  padding: 0;
  margin: 0 0 24px 0;
  text-align: center;
}

.movie-stat-title,
.movie-stat-value {
  padding: 0;
  margin: 0;
}

.movie-stat-title {
  font-size: 0.8rem;
  color: var(--ion-color-light);
}

.movie-stat-value {
  font-size: 0.8rem;
  margin-top: 8px;
  color: var(--ion-color-primary);
}

.crew-item {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 2fr 40px 2fr;
}

.crew-item p {
  margin: 12px 2px;
}

.crew-item p:first-child {
  margin-top: 18px;
  color: var(--ion-color-primary);
}

.crew-item p:last-child {
  justify-self: end;
  text-align: right;
}
