@import '../../theme/variables.css';

.movies {
  max-width: 600px;
  margin: 0 auto;
}

.movie-info-area {
  position: relative;
  margin: 8px 12px 16px 12px;
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  --background: linear-gradient(to right bottom, #f6f6f6, #fff);
}

.movie-thumbnail {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 150px;
  border-radius: var(--card-radius);
  cursor: pointer;
}

.movie-img {
  border-radius: var(--card-radius);
  box-shadow: 1px 1px 1px rgba(30, 30, 30, 0.1);
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 16px;
}

.movie-info--number {
  text-align: center;
  width: 2rem;
  padding: 4px;
  margin: 0;
  border: 1px solid #666;
  border-radius: 8px;
  color: #444;
}

.movie-info--title {
  color: var(--ion-color-primary);
  font-weight: 700;
  cursor: pointer;
}

/* CSS/SVG Star Ratings */
.movie-info--rating {
  margin-top: 12px;
  height: (var(--ratingSize) / 5);
  position: relative;
  width: var(--ratingSize);
}

.movie-info--rating:before {
  /* inactive */
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIGZpbGw9IiM3ZjhjOGQiID4gICAgPHBhdGggZD0iTSAyNSAyLjI3MzQzNzUgTCAxOC42MDkzNzUgMTguNDgwNDY5IEwgMC44MTA1NDY4OCAxOS40MTc5NjkgTCAxNC42NDg0MzggMzAuNDEyMTA5IEwgMTAuMDcwMzEyIDQ3LjIyMjY1NiBMIDI1IDM3Ljc3MTQ4NCBMIDM5LjkyOTY4OCA0Ny4yMjI2NTYgTCAzNS4zNTE1NjIgMzAuNDEyMTA5IEwgNDkuMTg5NDUzIDE5LjQxNzk2OSBMIDMxLjM5MDYyNSAxOC40ODA0NjkgTCAyNSAyLjI3MzQzNzUgeiI+PC9wYXRoPjwvc3ZnPg==');
  background-repeat: repeat-x;
  background-size: calc(var(--ratingSize) / 5);
  bottom: 0;
  content: '';
  display: block;
  height: calc(var(--ratingSize) / 5);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--ratingSize);
}
.movie-info--rating > span {
  display: block;
  text-indent: -10000px;
  width: var(--ratingSize);
  height: calc(var(--ratingSize) / 5);
  position: absolute;
  overflow: hidden;
}
.movie-info--rating > span:before {
  /* active */
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIGZpbGw9IiNmMWM0MGYiID4gICAgPHBhdGggZD0iTSAyNSAyLjI3MzQzNzUgTCAxOC42MDkzNzUgMTguNDgwNDY5IEwgMC44MTA1NDY4OCAxOS40MTc5NjkgTCAxNC42NDg0MzggMzAuNDEyMTA5IEwgMTAuMDcwMzEyIDQ3LjIyMjY1NiBMIDI1IDM3Ljc3MTQ4NCBMIDM5LjkyOTY4OCA0Ny4yMjI2NTYgTCAzNS4zNTE1NjIgMzAuNDEyMTA5IEwgNDkuMTg5NDUzIDE5LjQxNzk2OSBMIDMxLjM5MDYyNSAxOC40ODA0NjkgTCAyNSAyLjI3MzQzNzUgeiI+PC9wYXRoPjwvc3ZnPg==');
  background-repeat: repeat-x;
  background-size: calc(var(--ratingSize) / 5);
  bottom: 0;
  content: '';
  display: block;
  height: calc(var(--ratingSize) / 5);
  left: 0;
  position: absolute;
  right: 0;
  text-indent: 10000px;
  top: 0;
}
