@import '../../theme/variables.css';
@import '../../theme/styles.css';

ion-thumbnail {
  width: 90px;
  height: 135px;
  margin: 0;
  margin-right: 12px;
}
.actor-thumb {
  border-radius: var(--card-radius);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.main-segment {
  position: relative;
  background-color: black;
}

.actor-info-area {
  cursor: pointer;
  position: relative;
  margin: 20px 12px;
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  --background: linear-gradient(
    to bottom,
    var(--ion-background-color),
    var(--ion-color-step-50)
  );
  max-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.actor-info-area:hover {
  border: 1px solid var(--ion-color-secondary);
}

.actor-title {
  color: var(--ion-color-secondary);
  font-weight: 700;
}

.light-text {
  color: #aaa;
  font-size: 0.8rem;
  margin: 0;
}

.margin-horiz {
  margin: 0 4px;
}

.credits {
  margin: 0;
  margin-top: 4px;
}

.actors-list {
  margin: 0;
}
